@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

#navbarSupportedcontact ul .nav-link6 {
  color: #f7f0f0;
}

.contact {
  margin: 70px 0;
  font-family: "Quicksand", sans-serif;
  font-weight: lighter;
  font-size: 16px;
}

.contact__left__top {
  margin-bottom: 70px;
}

.contact__left__top i {
  width: 20px;
}

.contact__left__top > div {
  line-height: 1.5;
  margin: 20px;
}

.contact__left__bottom {
  margin-left: 25px;
}

.contact__left__bottom > * {
  margin: 20px 0;
}

.contact__left__bottom .title {
  font-weight: bold;
  font-size: 23px;
}

.contact__left__bottom .inp {
  height: 45px;
  width: 100%;
  max-width: 685px;
  padding: 0 20px;
  color: #000;
  border: 1px solid rgb(212, 201, 201);
  border-radius: 30px !important;
  box-shadow: none;
}

.contact__left__bottom .inp:focus {
  outline: none;
  border: 1px solid #007bff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.contact__left__bottom textarea {
  resize: none;
  line-height: 1.5;
  min-height: 130px;
  padding-top: 10px !important;
}

.contact__left__bottom button {
  padding: 0 35px;
  background: rgb(251, 121, 147);
  width: 100%;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  color: #fff;
  width: 160px;
  border: 1px solid black;
  border-radius: 30px;
  margin-right: 20px;
  float: right;
}

.contact__left__bottom button:hover {
  border: 2px solid black;
  background-color: #007bff;
  transition: background-color 0.5s ease-in-out;
}

.contact__right {
  box-sizing: border-box;
  padding: 40px;
  min-height: 600px;
}
