/* style.css */
.product-container {
  display: flex;

  flex-wrap: wrap;
  gap: 30px;
  max-width: 95%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10px 13px 20px rgba(0, 0, 0, 0.1);
}

.product-image {
  flex: 1;
  position: relative;
}

.slide-image {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide-image:first-child {
  display: block;
}

.prevImage,
.nextImage {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  transform: translateY(-100%);
  padding: 10px;
  color: white;
  background-color: #000;
  opacity: 0.3;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prevImage {
  left: 0;
  margin: 0 !important;
  border-radius: 3px 0 0 3px;
}

.nextImage {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prevImage:hover,
.nextImage:hover {
  opacity: 0.7;
  background-color: #000000;
  color: white;
  font-size: larger;
}

.prevImage {
  margin-left: 10%;
}

.nextImage {
  margin-right: 10%;
}

/* Dots hiệu ứng */
.dots-container {
  text-align: center;
  padding: 10px 0;
  width: 100%;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0;
  display: inline-block;
  top: 0;
}

.selected,
.dot:hover {
  background-color: #717171;
}

/* Hiệu ứng fade */
.slide-image {
  opacity: 1;
  animation: fadeEffect 2s;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product-info {
  flex: 1;
  font-size: 16px;
}

/* Hình ảnh sản phẩm */
.product-image img {
  max-width: 90%;
  border-radius: 10px;
  border: 5px solid transparent; /* Viền trong suốt ban đầu */
  border-image: linear-gradient(45deg, #ff7f50, #6a5acd) 1; /* Gradient màu */
}

.product-info .product-detail-title {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}

.product-info .product-price {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 350;
}

.product-info .product-price .old-price {
  text-decoration: line-through;
  color: #999;
  margin-right: 10px;
}

.product-info .product-price .new-price {
  color: #e74c3c;
}

.product-info .product-sku {
  color: #666;
  margin-bottom: 20px;
}

/* Kích cỡ */
.product-info .product-size {
  margin-bottom: 20px;
}

.product-info .product-size span {
  margin-right: 20px;
  font-size: 16px;
}

.product-info .size-btn {
  font-size: 16px;
  border: 1px solid #ccc;
  padding: 8px 15px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.product-info .size-btn.active,
.product-info .size-btn:hover {
  background-color: #e74c3c;
  color: #fff;
  border-color: #e74c3c;
}

/* Số lượng */
.product-info .product-quantity {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.product-info .quantity-wrapper {
  margin-left: 15px;
}

.product-info .quantity-btn {
  background-color: #f0f0f0;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.product-info #quantity {
  width: 50px;
  text-align: center;
  border: 1px solid #ddd;
  margin: 0 5px;
}

#quantity[type="number"]::-webkit-inner-spin-button,
#quantity[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}

.product-info .product-actions {
  margin-bottom: 30px;
}
/* Nút chức năng */
.product-actions .btn {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.product-actions .btn:hover {
  background-color: #be9650;
}

.add-to-cart {
  background-color: #000;
  color: #fff;
}

.add-to-wishlist {
  border: 1px solid #000;
  background-color: #fff;
}

.buy-now {
  background-color: #f39c12;
  color: #fff;
}

/* Thêm thông tin */
.product-details summary {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 0;
  cursor: pointer;
}

.product-details p {
  font-size: 14px;
  color: #555;
}

/* Tablet (màn hình dưới 1024px) */
@media (max-width: 1024px) {
  .container {
    width: 90%; /* Thu nhỏ chiều rộng */
  }
  .image {
    width: 100%;
  }
}

/* Mobile (màn hình dưới 768px) */
@media (max-width: 768px) {
  .container {
    width: 100%; /* Chiếm toàn bộ màn hình */
    padding: 0 10px;
  }
  h1 {
    font-size: 20px; /* Giảm kích thước chữ */
  }
  .image {
    display: block;
    margin: 0 auto; /* Canh giữa ảnh */
  }
}

/* Mobile (màn hình dưới 857px) */
@media (max-width: 857px) {
  .product-container {
    width: 70%;
  }
  .product-image {
    flex: 1 100%;
    display: flex;
    justify-content: center;
  }
  .product-info {
    flex: 1 100%;
  }

  .product-image img {
    width: 100%;
  }
}

/* Mobile (màn hình dưới 857px) */
@media (max-width: 550px) {
  .product-image img {
    width: 95%;
  }
}
